.cart::before {
  content: "";
  display: block;
  background-image: url(../../images/cart-icon.svg);
  background-size: contain;
  background-position: center;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  transition: transform 0.2s ease-in-out;
}

.cart {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: row;
  background-color: #D2001C;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  display: flex;
  width: 160px;
  padding: 6px 16px 6px 16px;
}



@media screen and (max-width:750px)
{
  .cart {
    width: fit-content;
    padding: 6px 0 6px 6px;
  }
}


.cart:hover::before {
  transform: translateX(4px);
}



@media screen and (max-width:750px)
{
  .cart {
    font-size: 0;
  }
}
