.videos__button {
  width: 40px;
  height: 39px;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  background-color: transparent;
  background-image: url(../../../images/button-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px 0 0 5px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}


.videos__button:hover {
  opacity: 0.5;
}
