.yamarket__link {
  background: white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  transition: opacity 0.2s ease-in-out;
}


@media screen and (max-width:1000px)
{
  .yamarket__link {
    display: none;
  }
}


.yamarket__link:hover {
  opacity: 0.5;
}
