.logo {
  display: flex;
  flex-direction: row;
  width: 214px;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  transition: opacity 0.2s ease-in-out;
}

@media screen and (max-width: 600px)
{
  .logo {
    width: fit-content;
  }
}


.logo:hover {
  opacity: 0.5
}
