.contacts__city-selector {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
}


.contacts__city-selector:hover {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
}

.contacts__city-selector:hover .contacts__city-selector-text::after {
  transform: translate(0, 2px);
}

.contacts__city-selector:hover {
  opacity: 0.8;
}
